

@media (max-width:900px) {
    main{
      margin: auto;
     
    
    }
    .bottom{
        margin-top: 1em;
    }
    #tree{
   
        overflow: hidden;
        /* border: 2px solid var(--color-c); */
        padding: 1em 0em 0em 1em;
        margin: 0;
        height: 100%;
    }
    .create--div{
    width: 100%;
    min-width: 22em;
    min-height: 20em;
      }
        .create--form{
          padding: 3em 2em;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          min-height: 10em;
        }
  }